<template name="page_help">
    {{>copy_to_clipboard}}
</template>


<template name="copy_to_clipboard">
    <div class="widget box">
        <div class="widget-header">
            <div class="row">
                <div class="col-md-12"><h4>You can share files with the email below</h4></div>
            </div>
        </div>

        <div class="widget-content">
            <div class="row">
                <div class="col-md-9">
                    <input id="email-to-share" class="form-control" onclick="this.select();" value="709748832761-bmeg5fvet775tvluqbasa0rrgdhfb4m6@developer.gserviceaccount.com"/>
                </div>
                <div id="copy-to-clipboard" class="col-md-2 btn btn-sm btn-primary" disabled="disabled">
                    <i class="fa fa-long-arrow-left pull-left" style="line-height: 18px;"></i>
                    Click then "Ctrl + C"
                </div>
            </div>

            {{#if isRouteName 'help'}}
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-12" style="padding: 5px 15px;">
                    Share files from Google Drive to the above email address to make them appear in this web panel.
                    In these 2 screenshots, the 2 step process of sharing "into" this panel is demonstrated. Make
                    sure when you share a google doc to the above address you give it the <b>edit</b> permission, along
                    with the ability for editors to change the permissions.
                </div>
            </div>

            <div class="row" style="margin-top: 10px; margin-bottom: 10px;">
                <div class="col-md-offset-1 col-md-5">
                    <img class="share-screenshot" src="/images/screenshots/s38c.png" />
                </div>
                <div class=" col-md-5">
                    <img class="share-screenshot" src="/images/screenshots/wtcs.png" />
                </div>
            </div>
            {{/if}}
        </div>
    </div>
</template>