<template name="system_message">

</template>


<template name="please_login">
    <div class="row">
        <div class="please-login-div col-md-offset-2 col-md-8">
            <div class="col-md-10">
                <h3>You are not logged in. Please login to view private Sequencia Technologies files shared with you.
                    <br/><small>(For security purposes you sometimes need to login to google again after reaching this page.)</small></h3>
            </div>
            <div class="col-md-2"><img src="/images/icons/arrow_up_right.png" /></div>
        </div>
    </div>
</template>